amqp==2.3.2
billiard==3.5.0.4
celery==4.2.0
Django==2.0.7
django-multiupload==0.5.2
kombu==4.2.1
lxml==4.2.5
mysqlclient==1.3.13
pbr==4.1.0
Pillow==5.2.0
psutil==5.4.6
python-docx==0.8.7
pytz==2018.5
six==1.11.0
stevedore==1.28.0
vine==1.1.4
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
virtualenvwrapper-win==1.2.5
