{% extends "admin/adm_base.html" %}
{% load static %}
{% block page %}
{{page}} | 
{% endblock %}

{% block head %}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>

{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
		{% if messages %}
		    {% for message in messages %}
		    <!-- <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> -->
		    <div class="alert alert-{{ message.tags }} alert-dismissible fade" id="alert_msg">
            	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            	{{ message }}
          	</div>
		    {% endfor %}
		{% endif %}
		<div class="box">
			<div class="box-header with-border">
			  	<h3 class="box-title">{{page}}</h3>
			  	<div class="box-tools pull-right">
			    </div>
			</div><!-- /.box-header -->
			<div class="box-body">
<!-- 				Done: 10 of 20
				<br>
				Failed: 3 -->
				<table id="gallery" class="table table-bordered table-hover table-striped">
				  <thead>
				    <tr>
				      <th>#</th>
				      <th>Filename</th>
				      <th>Status</th>
				      <th></th>
				    </tr>
				  </thead>
				  <tbody>
				    {% for f in files %}
				      <tr>
				      	<td>{{ forloop.counter }}</td> 
				        <td>{{ f.file.filename }}</td> 
				        <td>
				        	{% if f.processed %}
				            	<span class="badge bg-green"><i class="fas fa-check"></i> Done</span>
				            {% else %}
				            	<span class="badge bg-blue"><i class="fas fa-spinner"></i> in Queue</span>
							{% endif %}
				        	
				        	
				        	<!-- <span class="badge bg-red"><i class="fas fa-times"></i> Failed	</span> -->
				        </td>
				        <td>
				            <a href="{% url 'replacing' %}?id={{ f.id_detailorder }}" type="button" class="btn btn-xs btn-default"><span class="fas fa-sync-alt"></span></a>
				            {% if f.processed %}
				            	<a href="{{ f.processed }}" type="button" class="btn btn-xs btn-default"><span class="fas fa-download"></span></a>
							{% endif %}
				        </td>
				      </tr>
				    {% endfor %}
				  </tbody>
				</table>
			</div><!-- /.box-body -->
			<div class="box-footer">
				<a href="#" type="submit" class="btn btn-warning btn-block btn-flat"><i class="fas fa-sync-alt"></i> re-Sync All</a>

	      	</div>
		</div><!-- /.box -->
    </div>
</div>

<div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Uploading...</h4>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block foot %}
	<script src="{% static 'jqueryfileupload/js/vendor/jquery.ui.widget.js' %}"></script>
	<script src="{% static 'jqueryfileupload/js/jquery.iframe-transport.js' %}"></script>
	<script src="{% static 'jqueryfileupload/js/jquery.fileupload.js' %}"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
	<script type="text/javascript">
		$.fn.editable.defaults.mode = 'inline';
		$(document).ready(function() {
		    $('.xedit').editable();
		});

		$('.xedit').editable({
		    success: function(response, newValue) {
		        if(response.status == 'error') return response.msg; //msg will be shown in editable form
		    }
		});
		$(function () {

			$(".js-upload-photos").click(function () {
			$("#fileupload").click();
			});

			$("#fileupload").fileupload({
			dataType: 'json',
			sequentialUploads: true,  /* 1. SEND THE FILES ONE BY ONE */
			start: function (e) {  /* 2. WHEN THE UPLOADING PROCESS STARTS, SHOW THE MODAL */
			  $("#modal-progress").modal("show");
			},
			stop: function (e) {  /* 3. WHEN THE UPLOADING PROCESS FINALIZE, HIDE THE MODAL */
			  $("#modal-progress").modal("hide");
			},
			progressall: function (e, data) {  /* 4. UPDATE THE PROGRESS BAR */
			  var progress = parseInt(data.loaded / data.total * 100, 10);
			  var strProgress = progress + "%";
			  $(".progress-bar").css({"width": strProgress});
			  $(".progress-bar").text(strProgress);
			},
			done: function (e, data) {
			  if (data.result.is_valid) {
			    $("#gallery tbody").prepend(
			      '<tr><td>' + data.result.url + '</td><td>refresh needed..</td><td>refresh needed..</td></tr>'
			      
			    )
			  }
			}

			});

		});
	</script>
{% endblock %}