{% extends "admin/adm_base.html" %}
{% load static %}
{% block page %}
{{page}} | 
{% endblock %}

{% block head %}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>

{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
		{% if messages %}
		    {% for message in messages %}
		    <!-- <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> -->
		    <div class="alert alert-{{ message.tags }} alert-dismissible fade" id="alert_msg">
            	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            	{{ message }}
          	</div>
		    {% endfor %}
		{% endif %}
		<div class="alert alert-success" id="alert_msg">
        	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        	<h4><i class="fas fa-exclamation-triangle"></i> Alert!</h4>
        	<ol>
        		<li>File yang diupload dengan format *.docx</li>
        		<li>Pastikan seluruh file telah dirubah ke dalam bentuk sesuai format berikut:</li>
        		<ul>
        			<li><strong>xnmk</strong>	: Nama Kepala</li>
					<li><strong>xnmg</strong>	: Nama Guru</li>
					<li><strong>xnik</strong>	: NIP Kepala</li>
					<li><strong>xnig</strong>	: NIP Guru</li>
					<li><strong>xskn</strong>	: Nama Sekolah</li>
					<li><strong>xska</strong>	: ALamat Sekolah</li>
					<li><strong>xtdk</strong>	: TTD Kepala</li>
					<li><strong>xtdg</strong>	: TTD Guru</li>
					<li><strong>unmk</strong>	: Nama Kepala with underline</li>
					<li><strong>unmg</strong>	: Nama Guru with underline</li>
        		</ul>
        	</ol>
      	</div>
		<div class="box">
			<div class="box-header with-border">
			  	<h3 class="box-title">{{page}}</h3>
			  	<div class="box-tools pull-right">
			    </div>
			</div><!-- /.box-header -->
			<div class="box-body">
				<!-- <button type="button" class="btn btn-primary js-upload-photos">
				  <span class="glyphicon glyphicon-cloud-upload"></span> Upload photos
				</button> -->
				<div class="well text-muted text-center" style="padding-top: 4rem; padding-bottom: 4rem;">
				  <span class="glyphicon glyphicon-arrow-down" style="font-size: 4rem;"></span>
				  <h3>Drop File Here to Upload</h3>
				</div>
				<input id="fileupload" type="file" name="file" multiple
				       style="display: none;"
				       data-url="{% url 'basicupload' %}?id_paket={{ paket.id_paket }}"
				       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

				<table id="gallery" class="table table-bordered table-hover table-striped">
				  <thead>
				    <tr>
				      <th>File PATH Master</th>
				      <th>FIlename</th>
				      <th>Action</th>
				    </tr>
				  </thead>
				  <tbody>
				    {% for f in files %}
				      <tr>
				        <td>{{ f.file.name }}</td> 
				        <td><a href="#" class="xedit" id="filename{{ f.id_file }}" data-type="text" data-pk="{{ f.id_file }}" data-url="{% url 'xfilename' %} " data-title="Enter username">{% if  f.filename %}{{ f.filename }} {% endif %}</a> </td>
				        <td>
				        	<a type="button" class="btn btn-xs btn-default" href="{{ f.file.url }}" download><span class="fas fa-download"></span></a>
				            <a href=" {% url 'hapusfile' %}?id={{ f.id_file }}&id_paket={{ paket.id_paket }}" type="button" class="btn btn-xs btn-default command-delete"><span class="far fa-trash-alt"></span></a>
				        </td>
				      </tr>
				    {% endfor %}
				  </tbody>
				</table>
			</div><!-- /.box-body -->
			<div class="box-footer">
				<a href="{% url 'hapussemuafilepaket' %}?id={{ paket.id_paket }}&id_paket={{ paket.id_paket }}" type="submit" class="btn btn-danger btn-block btn-flat"><span class="far fa-trash-alt"></span> Hapus Semua File</a>

	      	</div>
		</div><!-- /.box -->
    </div>
</div>

<div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Uploading...</h4>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block foot %}
	<script src="{% static 'jqueryfileupload/js/vendor/jquery.ui.widget.js' %}"></script>
	<script src="{% static 'jqueryfileupload/js/jquery.iframe-transport.js' %}"></script>
	<script src="{% static 'jqueryfileupload/js/jquery.fileupload.js' %}"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
	<script type="text/javascript">
		$.fn.editable.defaults.mode = 'inline';
		$(document).ready(function() {
		    $('.xedit').editable();
		});

		$('.xedit').editable({
		    success: function(response, newValue) {
		        if(response.status == 'error') return response.msg; //msg will be shown in editable form
		    }
		});
		$(function () {

			$(".js-upload-photos").click(function () {
			$("#fileupload").click();
			});

			$("#fileupload").fileupload({
			dataType: 'json',
			sequentialUploads: true,  /* 1. SEND THE FILES ONE BY ONE */
			start: function (e) {  /* 2. WHEN THE UPLOADING PROCESS STARTS, SHOW THE MODAL */
			  $("#modal-progress").modal("show");
			},
			stop: function (e) {  /* 3. WHEN THE UPLOADING PROCESS FINALIZE, HIDE THE MODAL */
			  $("#modal-progress").modal("hide");
			},
			progressall: function (e, data) {  /* 4. UPDATE THE PROGRESS BAR */
			  var progress = parseInt(data.loaded / data.total * 100, 10);
			  var strProgress = progress + "%";
			  $(".progress-bar").css({"width": strProgress});
			  $(".progress-bar").text(strProgress);
			},
			done: function (e, data) {
			  if (data.result.is_valid) {
			    $("#gallery tbody").prepend(
			      '<tr><td>' + data.result.url + '</td><td>refresh needed..</td><td>refresh needed..</td></tr>'
			      
			    )
			  }
			}

			});

		});
	</script>
{% endblock %}