{% extends "admin/adm_base.html" %}
{% load static %}
{% block page %}
{{page}} | 
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header with-border">
			  	<h3 class="box-title">Hapus Guru</h3>
			  	<div class="box-tools pull-right">
			    </div>
			</div><!-- /.box-header -->
			<div class="box-body">
				Anda yakin ingin menghapus Sekolah #{{ sekolah.id_sekolah }}?
			</div><!-- /.box-body -->
			<div class="box-footer">
	      		<div class="row">
		      		<div class="col-xs-12">
		      			<form method="POST">
		      				{% csrf_token %}
		      				<input type="hidden" name="hapus" value="{{ sekolah.id_sekolah }}">
		      				<button type="submit" class="btn btn-primary btn-block btn-flat">HAPUS</button>
		      			</form>
			          
			        </div>
	      		</div>
	      	</div>
		</div><!-- /.box -->
    </div>
</div>
{% endblock %}


{% block foot %}

{% endblock %}